fastapi
uvicorn
pydantic
python-multipart
openai>=1.0.0
email-validator
python-dotenv

#setx OPENAI_API_KEY "sk-...ZnQA
#pip install -r requirements.txt
#python -m uvicorn backend.main:app --reload
